<div class="col-md-6">
  <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Común</th>
          <th scope="col">Tipo</th>
          <th scope="col">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planta of plantas; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ planta.nombre_comun }}</td>
          <td>{{ planta.tipo }}</td>
          <td>{{ planta.clima }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="totals">
    <p><strong>Total plantas de interior:</strong> {{ interiorCount }}</p>
    <p><strong>Total plantas de exterior:</strong> {{ exteriorCount }}</p>
</div>